/* progress[value] {
    width: 250px;
    height: 20px;
    background-color:lightgreen;
}

progress {
    border-radius: 9px;

} */

.progress-container{
    height:25px;
    width: 1000px;
    background-color: lightgrey;

}

.progress-bar{
    background-color: green;
    /* height:25px;
    width: 44.1px;     */

}