#myProgress {
    background-color: #ddd;
    width: 100%;
  }
  
  #myBar {
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
    width: 44.1%;
  }